# Created by https://www.gitignore.io/api/django
# Edit at https://www.gitignore.io/?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
MosPolytech_PD/srclocal_settings.py
MosPolytech_PD/srcdb.sqlite3
MosPolytech_PD/srcdb_City_Future.sqlite3
MosPolytech_PD/srcdb.sqlite3-journal
MosPolytech_PD/src/media
MosPolytech_PD/src/venv
MosPolytech_PD/src/static
MosPolytech_PD/src/.idea
MosPolytech_PD/src/users/migrations/
MosPolytech_PD/src/main/migrations/
MosPolytech_PD/src/initiatives/migrations/
MosPolytech_PD/src/graph/migrations/
MosPolytech_PD/src/administrations/migrations/
