<form action = "{% url 'initiatives:detail' list_initiative.id%}" method="POST">
    {% csrf_token %}
    <h2>{{list_initiative.name}}</h2>
    <p>{{list_initiative.description}}</p>
    <em>{{list_initiative.pub_date}}</em>
    <p>{{list_initiative.rating}} Голосов</p>
    <button type="submit">проголосовать</button>
</form>

{% if latest_comment_list %}
    {% for c in latest_comment_list %}
    <strong>{{c.user_comment}}</strong>
    <p>{{c.message_comment}}</p>
    {% endfor %}
{% endif %}

<form action = "{% url 'initiatives:leave_comment' list_initiative.id%}" method="POST">
    {% csrf_token %}
    <textarea name="text" required="" placeholder="Comment" cols="30" row="30"></textarea><br><br>
    <button type="submit">оставить комментарий</button>
</form>