{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    .switch input {display:none;}
    /* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
    </style>
    <script type="text/javascript">
    function changeRegForm() {
      var x = document.getElementById("id_is_administration");
      if (x.checked) {
        document.getElementsByClassName("Data").innerHTML= "new_data_here";
      } else {
        document.getElementsByClassName("Data").innerHTML = "old_data_here";
      }
    }
    </script>
<h3 align="center">Регистрация пользователя</h3>

        <form action="{% url 'users:register' %}" method="POST">

            {% csrf_token %}

            <label class="switch">
              {{ form.is_administration }}
              <span class="slider round" onclick="changeRegForm()"></span>
            </label>
            <div class="Data">
                {% for unit in form %}
                {% if unit.name != "is_administration" %}
                    <div class="fieldWrapper">
                        <label for="{{ unit.name }}">{{ unit.name }}</label>
                        {{ unit }}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        <!--        <input type="text" required placeholder="Ваше имя" name="FirstName"><br><br>-->
        <!--        <input type="text" required placeholder="Ваша Фамилия" name="LastName"><br><br>-->
        <!--        <input type="text" required placeholder="Ваш Адрес" name="Address"><br><br>-->
        <!--        <input type="text" required placeholder="Номер телефона" name="Mobile"><br><br>-->
        <!--        <input type="text" required placeholder="email" name="Email"><br><br>-->
        <!--        <input type="text" required placeholder="пароль" name="Password"><br><br>-->
            <button type="submit">Зарегистрироваться</button>
        </form>

{% endblock %}