{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    О проекте
{% endblock %}

{% block content %}
<main>
    <div class="header_bg"></div>
    <div class="container">
        <div class="row">
            <div class="about_content col-9">
                <div id="about_bg">
                    <h1>Для чего нужен сервис?</h1>
                     <p>
                        Назначением веб-платформы является привлечение молодого населения к активному участию в жизни и развитии городов, сел, областей.
                        Назначением использующегося в данном приложении алгоритма является упрощение работы с большим потоком текстовых данных.
                        Алгоритм будет полезен для IT разработчиков, тестировщиков, государственных органов и компаний, получающих обратную связь от пользователей.
                    </p>
                </div>
                <img  src="{% static 'img/city_bg.png' %}">
                <p>
                    Рост количества пользователей и, как следствие, поступающей от них информации, увеличивается каждый год (среднее количество информации,
                    генерируемое в сети одним пользователем: 1.7 МБ/с (на 2020 г.)), следовательно упрощение ручной обработки данных становится очевидной необходимостью.
                    Разрабатываемый алгоритм призван решить данную проблему, а результат планируется показать на примере веб-приложения по сбору инициатив, проблем, отзывов пользователей.
                </p>
                <h1>В чем особенность?</h1>
                <img  src="{% static 'img/web.png' %}">
                <p>
                    Главной особенностью веб-платформы является группировка инициатив по смыслу с помощью инновационного алгоритма, позволяющего пользователям создавать инициативы и в дальнейшем группировать и объединять эти инициативы, если они говорят об одной и той же проблеме.
                    C точки зрения пользователя этот процесс будет визуально представлен в виде интерактивной “паутины инициатив”, на которой можно будет увидеть все прежде представленные похожие инициативы и проблемы, что также является нововведением среди подобных  веб-приложений.
                    Помимо этого, приложение позволит проводить поиск, фильтрацию и ручную группировку инициатив по смыслу.
                </p>
                <p>
                    Алгоритм разрабатывается с использованием Машинного обучения, векторизации текстовых данных (text-to-vec), Глубокого обучения и теории графов.
                    Несмотря на то, что алгоритмы машинного обучения и text-to-vec используются в сети интернет довольно часто, объединение машинного обучения с теорией графов является новым направлением в Data Science.
                    Это позволяет улучшить кластеризацию данных а также значительно упростить процесс поиска по векторизированным данным (в следствие использования алгоритмов теории графов вроде А* и др.).
                </p>
            </div>
            <div class="col-1"></div>
            <div class="about_left_bar col-2">
                <div class="about_left_bar_block">
                    <p>
                        Карточки с фактами про машинное обучение
                    </p>
                </div>
                <div class="about_left_bar_block">
                    <p>
                        Или про нас пишут в изданиях
                    </p>
                </div>
                <div class="about_left_bar_block">
                    <p>
                        Можно и просто членов команды перечислить
                    </p>
                </div>
                <div class="about_left_bar_block">
                    <p>
                        Или про достижения. В общем, вариантов - куча!
                    </p>
                </div>
            </div>
        </div>
    </div>


</main>
{% endblock %}