{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    Создать инициативу
{% endblock %}

{% block content %}
     <main>
        <div class="header_bg"></div>
         <div class="create_ini">
             <h1>Введите <span>название</span> инициативы</h1>
             <p class="col-7">
                 В результате удачно подобранного названия, бренд станет более известным, его начнут узнавать, о нем будут рассказывать своим друзьям.
                 Целостная концепция бренда вызовет доверие у потребителей, что сделает ваше предложение актуальным и интересным для каждого потенциального клиента.
             </p>
             <form action="create_second_page" method="get">
                 <input id="project_name" class="col-5" type="text" placeholder="Название проекта по улучшению города" maxlength="100">
                 <div class="create_btn">
                     <input  id="create_btn"  type="submit" value="Далее">
                 </div>
             </form>
             <h6>Правила заполнения инициатив</h6>
             <h1>Рекомендации</h1>
             <ol>
                 <li><p>Такое название максимально простое и понятное каждому покупателю. Здесь используются слова, которые ассоциируются со сферой деятельности компании.</p></li>
                 <li><p>Такое название максимально простое и понятное каждому покупателю. Здесь используются слова, которые ассоциируются со сферой деятельности компании.</p></li>
                 <li><p>Такое название максимально простое и понятное каждому покупателю. Здесь используются слова, которые ассоциируются со сферой деятельности компании.</p></li>
             </ol>
         </div>

         <!--
        <section class="container creator">
            <div class="row">
                <div class="create_title">
                    <h2>Какова тема вашей инициативы?</h2>
                    <p>Выбор темы важен для того, чтобы рекомендовать вашу петицию тем пользователям платформы, которые заинтересованы в схожих вопросах.</p>
                </div>
                <div class="form_block col-xs-10 col-sm-10 col-md-4 col-lg-6">
                    <form method="POST" action="second_part">
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/11.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/12.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/13.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/14.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/15.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/16.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/17.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/18.jpg' %}" alt=""></a>
                        </div>
                    <input class="btn btn-success button form_el col-6" type="submit" name="submit" id="submit" value="Продолжить">
                    </form>
                </div>
            </div>
        </section>
        -->
    </main>
{% endblock %}
