{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    Создать инициативу шаг 2
{% endblock %}

{% block content %}
<main>
    <div class="header_bg"></div>
    <div class="create_ini">
        <h1>Расскажите подробнее</h1>
        <p class="col-7">
            В результате удачно подобранного названия, бренд станет более известным, его начнут узнавать, о нем будут рассказывать своим друзьям.
            Целостная концепция бренда вызовет доверие у потребителей, что сделает ваше предложение актуальным и интересным для каждого потенциального клиента.
        </p>
        <form action="create_third_page" method="get">
            <label for="secect_ini">Категория</label>
            <div>
                <select class="col-4" id="secect_ini">
                <option disabled>Выберите категорию инициативы</option>
                <option value="1">Здравоохранение</option>
                <option value="2">Дом и двор</option>
                <option value="3">Окружающая среда</option>
                <option value="4">Пушистые друзья</option>
                <option value="5">Образование</option>
                <option value="6">Культурное наследие</option>
                <option value="7">Экономика</option>
            </select>
            </div>
            <label for="description">Описание</label>
            <div>
                 <textarea name="" id="description" class="col-6" rows="10" placeholder="Описание проекта по улучшению города"></textarea>
            </div>
            <input type="file" >
            <input class="col-3" type="text" placeholder="Добавить ссылку на видео">
            <div>
                 <input id="create_btn"  type="submit" value="Далее">
             </div>
        </form>
        <h6>Правила заполнения инициатив</h6>
         <h1>Рекомендации</h1>
         <ol>
             <li><p>Такое название максимально простое и понятное каждому покупателю. Здесь используются слова, которые ассоциируются со сферой деятельности компании.</p></li>
             <li><p>Такое название максимально простое и понятное каждому покупателю. Здесь используются слова, которые ассоциируются со сферой деятельности компании.</p></li>
             <li><p>Такое название максимально простое и понятное каждому покупателю. Здесь используются слова, которые ассоциируются со сферой деятельности компании.</p></li>
         </ol>
    </div>
</main>
{% endblock %}