{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    Создать инициативу
{% endblock %}

{% block content %}
     <main>
        <div class="header_bg"></div>

        <section class="container creator">
            <div class="row">
                <div class="create_title">
                    <h2>Какова тема вашей инициативы?</h2>
                    <p>Выбор темы важен для того, чтобы рекомендовать вашу петицию тем пользователям платформы, которые заинтересованы в схожих вопросах.</p>
                </div>
                <div class="form_block col-xs-10 col-sm-10 col-md-4 col-lg-6">
                    <form method="POST" action="second_part">
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/11.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/12.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/13.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/14.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/15.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/16.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/17.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-3 create_img">
                            <a href=""><img src="{% static 'img/18.jpg' %}" alt=""></a>
                        </div>
                    <input class="btn btn-success button form_el col-6" type="submit" name="submit" id="submit" value="Продолжить">
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
