{% extends 'main/headerREG.html' %}
{% load static %}

{% block title %}
    Вход
{% endblock %}

{% block header %}
<p>Уже зарегистрированы?</p>
<a href="">Войти</a>
{% endblock %}

{% block content %}
<main>
    <div class="entrance">
        <h1>Вход в сервис</h1>
        <div class="">
            <div>
                <a href="registration_user">Пользователь</a>
            </div>
            <div>
                <a href="registration_administration active_user">Администратор</a>
            </div>
        </div>
        <form action="" method="post">
            <label class="label" for="login">Логин</label>
            <input type="text" name="login" id="login">
            <label class="label" for="password">Пароль</label>
            <label for="password" class="label_left">Забыли пароль</label>
            <input type="text" name="password" id="password">

            <input type="submit" id="submit">

            <input type="checkbox" id="checkbox">
            <label for="checkbox">Запомнить меня</label>
        </form>
        <div class="another_entrance">
            <h6>Войти через социальные сети</h6>
            <div class="soc_seti">
                <a href=""><img src="{% static 'img/inst.svg' %}" alt=""></a>
                <a href=""><img src="{% static 'img/facebook.svg' %}" alt=""></a>
                <a href=""><img src="{% static 'img/twit.svg' %}" alt=""></a>
            </div>
        </div>
    </div>
</main>
{% endblock %}