{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    Помощь
{% endblock %}

{% block content %}
<main>
    <div class="header_bg"></div>
     <div class="faq_content">
        <h1>Часто задаваемые вопросы</h1>
       <p>
         Основное назначение раздела — повысить удобство пользования сайтом и снизить нагрузку на модерацию, которой приходится отвечать на однотипные вопросы.
         Найдя ответ на интересующий вопрос, пользователь становится более лояльным и готов на дальнейшие целевые действия.
       </p>
       <div class="">
          <!--Здесь будут вопросы -->
       </div>
       <h1>Остались вопросы?</h1>
       <p>Вы можете оставить нам вопрос на электронную почту и мы ответим на него в ближайшее время.</p>
       <a href="">Спросить у команды</a>
     </div>
    <div class="faq_right_bar">
      <div class="faq_right_bar_block">

      </div>
    </div>
</main>
{% endblock %}