{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    Для органов власти
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="gavernment_content">
          <h1>
            Информация для уважаемых
          </h1>
          <p>
            Для выполнения данного проекта планируется провести несколько исследований. В первую очередь, необходимо понять, насколько развита область NLP (Natural Language Processing), применимо к обработке сообщений и отзывов.
            Большинство веб-приложений позволяет проводить поиск по продуктам, наименованиям, отзывам и комментариям, однако данный поиск линеен и работает с синонимами и/или похожими по смыслу словами и предложениями.
            Поэтому проведение научно-исследовательской работы по изучению моделей типа text-to-vector является необходимым для понимания областей применения, способов применения, возможных проблем и будущего развития технологий.
          </p>
          <div class="government_block">

          </div>
          <p>
            Второе планируемое исследование в рамках данного проекта связано с имплементацией алгоритмов text-to-vec для наблюдения за общественными мнениями.
            В современном мире, из-за количества поступающей информации, молодое население крайне трудно завлечь на активное участие в общественной деятельности.
            Поэтому необходимо разобраться, какие рычаги воздействия наиболее эффективны сегодня, как они менялись с развитием компьютеров, и попытаться представить будущие “якоря внимания“ молодежи для их использования при разработке веб-приложений и маркетинге.
          </p>
          <h1>
            Почему стоит присоединиться
          </h1>
          <p>
            Исходя из проблем, решаемых в рамках данного проекта, веб-платформа имеет огромный потенциал в развитии, а также применении разрабатываемого алгоритма в целом.
          </p>
          <p>
            Область применения данного проекта: начиная от платформ, направленных на улучшение качества жизни населения, запущенных в недавнее время по всей территории страны государственными органами власти и заканчивая проектами, решающими точеные вопросы анализа данных.
          </p>
          <p>
            Более конкретно, имеется отличное прикладное приложение нашего проекта в рамках Ведомственного проекта Минстроя России “Умный Город”, а конкретно по направлению “Городская среда” или “Безопасный город”. Именно по этим направлениям осуществляется реализация концептов “Умное ЖКХ”, ”Комфортная горсреда”, “Городская мобильность” а также общественная, транспортная, экологическая и инфраструктурная безопасность, что целиком и полностью совпадает с проблемами объединения и агрегации множественных заявок по всем вопросам, касающимся реализации общественных инициатив.
          </p>
          <h1>
            Уже работаем вместе
          </h1>
          <div class="goverment_content">
              <p>
                Это будет актуальном всем типам бизнеса, оказывающих услуги и продающих товары населению, так как зачастую в современном мире компании теряют репутацию из-за плохих отзывов.
              </p>
              <div id="goverment">

              </div>
          </div>
          <div class="goverment_slider">
              <!--Здесь будет слайдер -->
          </div>
          <h1>
            Желаете присоединиться?
          </h1>
          <p>
            Вы можете оставить нам вопрос на электронную почту и мы ответим на него в ближайшее время.
          </p>
          <a href="">Отправить заявку</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}