{% extends 'main/main.html' %}
{% load static %}

{% block title %}
    Город будущего
{% endblock %}

{% block content %}
     <main>
      <section>
        <div class="banner">
            <img class="banner" src="{% static 'img/mainback.png' %}" alt="">
            <div class="content_banner">
                <div class="main_text">
                    <p>Сервис для</p>
                    <p>Ваших инициатив</p>
                </div>
                <div class="sec_text">
                    <p>Создадим город будущего совместными усилиями!</p>
                </div>
                <div class="btn_banner">
                    <a href="create">Создать инициативу</a>
                </div>
            </div>
        </div>
      </section>
      <section class="container">
          <div class="numbers">
              <div class="row">
                  <div class="number_block col-3">
                      <img src="{% static 'img/number1.svg' %}" alt="">
                  </div>
                  <div class="number_block col-3">
                      <img src="{% static 'img/number2.svg' %}" alt="">
                  </div>
                  <div class="number_block col-3">
                      <img src="{% static 'img/number3.svg' %}" alt="">
                  </div>
                  <div class="number_block col-3">
                      <img src="{% static 'img/number4.svg' %}" alt="">
                  </div>
              </div>
          </div>
      </section>
  </main>
{% endblock %}
