div{
	display: block;
    margin: 0;
    padding: 0;
}
body {
	font-size: 16px;
	line-height: 1;
}
img {
	display: block;
	width: 100%;
	float: left;
}
a {
	text-decoration: none !important;
	outline: none;
}
header{
	height: 160px;
	position: absolute;
}
footer{
    background: #EAEAEA;
    height: 130px;
}
ul li{
    list-style: none;
}
                                        /*Header*/
.menu_li{
	font-size: 18px;
	font-weight: 400;
	border-radius: 20px;
}
.menu_li a{
    color: white !important;
}
.menu_li a:hover{
	background-color: #B18AFF;
    border-radius: 20px;
}
.logo_block{
    margin-right: 100px;
}
.logo{
	padding-top: 10px;
}
.logo img{
    height: 94px;
}
.menu_a a{
	color: white !important;
	text-decoration: none;
	font-size: 18px;
}
.menu_a a:hover{
	background-color: #B18AFF;
    border-radius: 20px;
}
. active{
     background-color: #B18AFF;
     border-radius: 20px;
}
.header_bg{
    height: 140px;
    background: #24064D;
}
                                            /*Banner*/
.main_text p{
    font-size: 84px;
    color: white;
    font-weight: 600;
    line-height: 60px;
}
.sec_text p{
    font-size: 18px;
    color: #D2D2D2;
    padding-top: 20px;
    padding-bottom: 30px;
}
.btn_banner{
    margin-top: 30px;
}
.btn_banner a{
   font-size: 32px;
   color: white;
   background-color: #B18AFF;
   padding: 15px 55px 15px 55px;
   border-radius: 33px;
   font-weight: 500;
}
.btn_banner a:hover{
    background-color: #190033;
}
.content_banner{
    position: absolute;
    left: 130px;
    top: 240px;
}
                                     /*Slider*/
.slider_ini{
    background-image: url("/main/static/img/back1.png");
    color: white;
}
    .slider_ini h1{
        padding-top: 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 54px;
        line-height: 100%;
    }
    .slider_ini p{
        margin-top: 20px;
        font-style: normal;
        font-size: 18px;
        line-height: 22px;
    }
/*Стили для слайдеров:*/
.jssorb131 {position:absolute;}
.jssorb131 .i {position:absolute;cursor:pointer;}
.jssorb131 .i .b {fill:#000;fill-opacity:0.6;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.7;}
.jssorb131 .i:hover .b {fill:#fff;fill-opacity:.5;stroke:#000;stroke-width:2000;stroke-opacity:0.7;}
.jssorb131 .iav .b {fill:#fff;stroke:#000;stroke-width:2000;fill-opacity:1;stroke-opacity:1;}
.jssorb131 .i.idn {opacity:0.3;}

/*jssor slider arrow skin 111 css*/
.jssora111 {display:block;position:absolute;cursor:pointer;}
.jssora111 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.3;}
.jssora111:hover {opacity:.8;}
.jssora111.jssora111dn {opacity:.4;}
.jssora111.jssora111ds {opacity:.3;pointer-events:none;}


/*jssor slider arrow skin 103 css*/
.jssora103 {display:block;position:absolute;cursor:pointer;}
.jssora103 .c {fill:#fff;opacity:.8;}
.jssora103 .a {fill:#333;opacity:.8;}
.jssora103:hover .c {opacity:.6;}
.jssora103:hover .a {opacity:1;}
.jssora103.jssora103dn .c {opacity:.3;}
.jssora103.jssora103dn .a {opacity:1;}
.jssora103.jssora103ds {opacity:.3;pointer-events:none;}
                                    /*Numbers*/
.number_block{
    height:200px;
    float: left;
}
.number_block img:first-child{
    width:330px;
    height:105px;
}
.number_block img{
   margin-top: 40px;
}
                                     /*Search*/
.search_bg{
    background: #24064D;
}
.title_search form{
    height: 55px;
}
.title_search h1{
    color: white;
    font-size: 64px;
    font-weight: 500;
    padding: 30px 140px;
}
.title_search h1 span{
    color: #B18AFF;
}
.title_search p{
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: white;
    padding: 30px 140px;
    margin: 0 !important;
}
.title_search img{
    width: 220px;
    height: 52px;
}
.search_ul li{
    display: inline-block;
}
.left_bar1{
	background: #24064D;
	padding-right: 80px;
	float: left;
}
.left_bar1 h1{
	font-weight: 600;
	font-size: 30px;
	line-height: 100%;
	padding-top: 45px;
	color: white;
	text-align: center;
}
.form_category button{
	display: block;
	background-color: #24064D;
    border: none;
    color: #E5E5E5;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
    width: 200px;
}
.form_category button:hover{
	background: #B18AFF;
	border-radius: 35px;
}
.form_category_bnt{
	margin-left: auto;
    margin-right: auto;
}
.form_category_bnt div{
	width: 200px;
	margin-top: 15px;
}
.form_status label{
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	color: #FFFFFF;
}
.form_status{
	padding-bottom: 80px;
}
.graph_content{
	float: left;
	height: 100%;
	padding: 0;
}
.search_button{
    padding-top: 5px;
}
.select_city{
	cursor: pointer;
	float: right;
	padding-right: 100px;
	padding-top: 40px;

}
.graph img{
   width: 1080px;
   height:730px;
}
.serch_int{
	padding: 30px 140px;
}
.serch_int input{
	border-radius: 30px 0px 0px 30px;
	height: 55px;
	border: none;
	font-size: 18px;
	color: black;
	padding-left: 15px;
}
.serch_int button{
	border-radius: 0px 30px 30px 0px;
	width: 60px;
	height: 55px;
	margin-left: -5px;
	border: none;
	background: white;
	padding-bottom: 17px;
	text-decoration: none;
}
.serch_int img{
	width: 45px;
	height: 30px;
	padding-right: 10px;
	padding-top: 10px;
}
                                        /*Footer*/
footer{
    padding-top: 20px;
}
.footer_block_img_left img{
    height: 95px;
    width: 270px;
    float: none;
}
.footer_img_block img{
    height: 55px;
    margin-right: 20px;
    margin-top: 30px;
}
.footer_p{
    font-size: 20px;
}
.footer_ul li{
    display: inline-block;
	margin-right: 15px;
	font-size: 24px;
	font-weight: 600;
}
.footer_ul{
    font-size: 24px;
    font-weight: 600;
    padding: 0px !important;
}
.footer_ul li a{
    color: #4F4F4F;
    padding: 4px 7px;
}
.footer_ul li a:hover{
    color: white;
    background: #101F4F;
    border-radius: 20px;
}
                                            /*Search_page*/


.category_title p{
    font-size: 30px;
    text-align:center;
    color: white;
}
.serch_img{
    float: left;
}
.category_ul li{
     margin-bottom: 30px;
     width: inherit;
     text-decoration: none;
}
.category_ul_block{
    float: left;
}
.category_ul a{
    font-size: 24px;
    text-align:center;
    color: white;
    border-radius: 15px;
    background-color: #1B063E;
    padding: 5px 20px;
}
.category_ul a:hover{
    background-color: #B18AFF;
    }
.category_ul a:active{
    background-color: #B18AFF;
}
.leftbar{
    height: 745px;
    background: #1B063E;
    float: left;
}
                                        /*Create*/
.create_ini {
    padding-left: 140px;
}
.create_ini h1{
    font-weight: 600;
    font-size: 48px;
    color: #101F4F;
    padding-bottom: 30px;
    padding-top: 30px;
}
.create_ini span{
    color: #B18AFF;
}
.create_ini p{
    font-weight: normal;
    font-size: 18px;
    color: #101F4F;
    padding: 0;
    padding-bottom: 30px;
}
.create_ini h6{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #101F4F;
}
#project_name{
    margin-bottom: 40px;
}
.create_ini input{
    border: 2px solid #101F4F;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 22px;
    margin-bottom: 10px;
}
.create_ini label{
    font-weight: 600;
    font-size: 18px;
    color: #101F4F;
    padding-bottom: 5px;
}
.create_ini textarea{
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 15px;
}
.create_ini select{
    border: 2px solid #101F4F;
    box-sizing: border-box;
    border-radius: 100px;
    color: #101F4F;
    border-radius: 20px;
    padding: 5px;
}
#create_btn{
    background: #B18AFF;
    border-radius: 33.8831px;
    text-decoration: none;
    padding: 20px 55px;
    color: white;
    border: none;
    width: 260px;
    font-weight: 600;
    font-size: 32px;
}
#create_adres{
    margin-left: 66px;
}
#create_adres:first-child{
    margin-left: 0;
}
#secect_ini{
    border: 2px solid #101F4F;
    box-sizing: border-box;
    border-radius: 100px;
}
.form_el a{
    margin-top: 40px;
}
.create_ini h2{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #101F4F;
}
.create_ini img{
    width: 850px;
}
.map{
    min-height: 500px;
}
.map img{
    width: 850px;
}
#mynetwork {
    width: 100%;
    height: 750px;
    background-image: url("/main/static/img/map.svg");
    float: left;
}
#loadingBar {
    width: 100%;
    height: 750px;
    background-color:rgba(200,200,200,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity:1;
}
#bar {
    position:absolute;
    top:0px;
    left:0px;
    width:20px;
    height:20px;
    margin:auto auto auto auto;
    border-radius:11px;
    border:2px solid rgba(30,30,30,0.05);
    background: rgb(0, 173, 246); /* Old browsers */
    box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
}
#border {
    position:absolute;
    top:10px;
    left:10px;
    width:500px;
    height:23px;
    margin:auto auto auto auto;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    border-radius:10px;
}
#text {
    position:absolute;
    top:8px;
    left:530px;
    width:30px;
    height:50px;
    margin:auto auto auto auto;
    font-size:22px;
    color: #000000;
}
div.outerBorder {
    position:relative;
    top:400px;
    width:600px;
    height:44px;
    margin:auto auto auto auto;
    border:8px solid rgba(0,0,0,0.1);
    background: rgb(252,252,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border-radius:72px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
                                        /*About and Gavernment*/
.about_content, .gavernment_content{
    margin-top: 20px;
    color: #101F4F;
}
.about_left_bar_block{
    margin-top: 20px;
}
    .about_left_bar_block p{
        color: rgba(16, 31, 79, 0.5);
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        padding: 70px 30px;
        border: 4px solid #B18AFF;
        box-sizing: border-box;
        border-radius: 42.0409px;
    }
.about_content h1, .gavernment_content h1{
    font-weight: 600;
    font-size: 64px;
}
.about_content p, .gavernment_content p{
    font-weight: normal;
    font-size: 24px;
}
.about_content img:last-child{
    display: flex;
    justify-content: center;
}
.government_block{
    border: 4px solid #B18AFF;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 40px auto;
}
    .government_block p{
        font-size: 36px;
        font-weight: 600;
        color: rgba(16, 31, 79, 0.5);
    }
.government_a{
    margin: 40px 0;
}
.government_a a{
   font-size: 32px;
   color: white;
   background-color: #B18AFF;
   padding: 5px 55px 7px 55px;
   border-radius: 33px;
   font-weight: 500;
}
.government_a a:hover{
    background-color: #190033;
}
                                            /*Entrance*/
.top_menu{
	height: 100px;
}
.menu_reg{
	list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
}
.menu_reg li{
    display: inline-block;
    margin-top: 35px;
    padding-right: 50px;
}
.menu_reg p{
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	color: #101F4F;
}
.top_menu img{
	padding-left: 100px;
}
.menu_reg a{
	font-weight: 600;
	font-size: 21px;
	line-height: 25px;
	color: #101F4F;
}
.logo{
	padding-top: 10px;
}
.entrance{
	display: block;
	margin-left: auto;
    margin-right: auto
}
.entrance h1{
	text-align: center;
	font-weight: 600;
	font-size: 48px;
	color: #101F4F;
	margin-bottom: 40px;
}
#active_user{
	background-color: #B18AFF;
	border-radius: 50px;
	border: 1px solid #B18AFF;
	padding: 10px 30px 10px 30px;
	color: white;
}
.registration_user a{
	font-weight: normal;
	font-size: 22px;
	color: #101F4F;
}
.registration_user{
	display: inline-block;
	float: left;
	text-align: center;
	padding-bottom: 20px;
}
.form_enter{
	margin-top: 40px;
}
.label{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	float: left;
}
.label_left{
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	text-align: right;
	color: #101F4F;
	cursor: pointer;
}
.input1{
	margin-bottom: 20px;
	font-size: 22px;
	border: 2px solid black;
	border-radius: 10px;
}
.submit_btn{
	margin-top: 30px;
	background: #B18AFF;
	border-radius: 100px;
	color: white;
	border: none;
	height: 60px;
	font-size: 32px;
	font-weight: 600;
}
.checkbox{
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #101F4F;
}
.another_entrance h6{
	margin-top: 20px;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #101F4F;
	margin-bottom: 30px;
}
.soc_seti{
	display: flex;
	justify-content: center;
}
.soc_seti img{
	height: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
/*Регистрация*/
.registration{
	display: block;
	margin-left: auto;
    margin-right: auto
}
.registration h1{
	font-weight: 600;
	font-size: 64px;
	text-align: center;
	color: #101F4F;
	margin-top: 30px;
	margin-bottom: 30px;
}
.another_entrance_reg h6{
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #101F4F;
	margin-bottom: 30px;
}
#tel{
	margin-bottom: 80px;
}
#password_rep{
	margin-bottom: 40px;
}
.checkbox_reg{
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #101F4F;
}
.submit_btn_reg{
	margin-top: 30px;
	background: #B18AFF;
	border-radius: 100px;
	color: white;
	border: none;
	height: 60px;
	font-size: 24px;
	font-weight: 600;
}
.form_reg{
	margin-top: 40px;
	margin-bottom: 100px;
}
#adres_org{
	margin-bottom: 80px;
}
.label_check{
    font-size: 15px;
}
                                        /*Initiative*/
.initiative{
    min-height: 700px;

}
.initiative h1{
    text-align: center;
    font-size: 48px;
    color: #101F4F;
}
.initiative div{
    display: table-cell;
    vertical-align: middle;
}